<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="0.11.0" />
  <package id="Nancy.Hosting.Aspnet" version="0.11.0" />
  <package id="Nancy.Validation.DataAnnotations" version="0.11.0" />
  <package id="Nancy.Viewengines.Razor" version="0.11.0" />
  <package id="RavenDB.Client" version="1.2.2059-Unstable" />
  <package id="RavenDB.Client.MvcIntegration" version="1.2.2059-Unstable" />
  <package id="Twitter.Bootstrap" version="2.0.4.1" />
</packages>